@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark {
    --background: 0 0% 10%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 216 12% 84%;

    --accent: 22 25% 14%;
    --accent-foreground: 22 32% 42%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --black-or-white: 255;

    --dark-olive-green: 93.1 15% 37.8%;
    --laurel-green: 74 22.1% 61.8%;
    --cornsilk: 48 100% 93%;
    --lemon-meringue: 51 100% 96%;
    --camel: 33 33% 64%;
    --alloy-orange: 25.8 72.7% 44.5%;
    --russet: 22.7 65.5% 28.4%;

    --dark-green: #0b3820;
    --medium-green: #4c6444;
    --light-beige: #caba9c;
    --tan: #8a6240;
    --brown: #4d2d18;

    --code-background: #101010;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
html,
body {
  font-synthesis-weight: none;
}
